<% provide(:breadcrumb, "Админка") %>
<div class="container">
  <h2>Панель администратора сайта</h2>
  <ul>
	<li><%= link_to "Список товаров", products_index_adm_path %></li>
	<li><%= link_to "Список новостей и событий (пока не доступен)", '#' %></li>
	<li><%= link_to "Настройка SEO (пока не доступен)", '#' %></li>
	<li><%= link_to "Просмотр списка пользователей (пока не доступен)", '#' %></li>
  </ul>
</div>