<!-- Page Content-->
<main class="page-content">
  <section class="section-top-0 section-bottom-80 section-lg-top-40 bg-images-7 section-md-bottom-115">
    <div class="shell">
      <div class="range">
        <div class="cell-md-9 cell-md-preffix-3 text-center text-md-left news_block">
          <h3>Последние новости</h3>
          <div class="range divider-bottom offset-top-37 section-md-bottom-47 news_block_div">
            <div class="cell-md-7">
              <time datetime="2017-01-01" class="h5 news_block_time">1 янв 2017</time>
              <h5 class="news_block_title"><a href="#">С Новым годом!</a></h5>
              <p class="offset-top-30 news_block_desc">Уважаемые гости нашего кафе. Поздравляем вас с Новым 2017 годом. К новому году у нас обновилось меню. Ждем вас :)</p>
            </div>
            <div class="cell-md-5 img-wraper-2">
              <%= image_tag("events-03.jpg", class: "img-responsive margin-center", alt: "") %>
            </div>
          </div>
          <div class="range offset-top-45 divider-bottom section-md-bottom-47 news_block_div">
            <div class="cell-md-7">
              <time datetime="2016-12-22" class="h5 news_block_time">22 дек 2016</time>
              <h5 class="news_block_title"><a href="#">Зимнее меню</a></h5>
              <p class="offset-top-30 news_block_desc">С 22 декабря у нас новое зимнее меню. Новые виды бургеров, закусок и обновленный ассортимент кофе и напитков!</p>
            </div>
            <div class="cell-md-5 img-wraper-2">
              <%= image_tag("events-04.jpg", class: "img-responsive margin-center", alt: "") %>
            </div>
          </div>
          <div class="range offset-top-45 news_block_div">
            <div class="cell-md-7">
              <time datetime="2016-12-01" class="h5 news_block_time">1 дек 2016</time>
              <h5 class="news_block_title"><a href="#">Акция скидки 30%</a></h5>
              <p class="offset-top-30 news_block_desc">12 декабря акация скидки 30% на все напитки. Приходите, для получения скидки кодовое слово MITRO12</p>
            </div>
            <div class="cell-md-5 img-wraper-2">
              <%= image_tag("events-05.jpg", class: "img-responsive margin-center", alt: "") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>