<% provide(:breadcrumb, "Test Payment") %>
<h2>Страница для тестирования интеграции с Яндекс.Кассой</h2>
<form action="https://demomoney.yandex.ru/eshop.xml" method="POST">
<input name="shopId" value="88596" type="hidden">
<input name="scid" value="<%= @yandex_kassa_scid %>" type="hidden">
<input name="customerNumber" value="Buyer01"><!-- Идентификатор вашего покупателя -->
<input name="sum" value="1.11"><!-- Сумма покупки (руб.) -->
<input type="submit" value="Оплатить">
</form>