<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать на сайт MITROFOOD</h1>
    <p>
      Вы успешно зарегистрировались на сайте mitrofood.ru,
      Ваш логин: <%= @user.email %>.<br>
    </p>
    <p>
      Для входа в личный кабинет перейдите по ссылке: <%= @url %>.
    </p>
    <p>Спасибо за то что вы с нами, хорошего дня!</p>
  </body>
</html>
