<% provide(:breadcrumb, "ЛК / Заказ бонусной карты") %>
<div class="container">
  <h2>Внесение данных для бонусной карты</h2>
  <div class="alert alert-info" role="alert">Заказ бонусной карты шаг 2 из 2</div>
  <%= render "form" %>
</div>
