<% provide(:breadcrumb, "Админка / Интеграция с Poster") %>
<h2>Админка интеграции с Poster</h2>
<div>
  <div class = "header-button">
    <a class="btn btn-default" href="/admin">В админку</a>
  </div>
  <h4>Обновить бонусы для всех клиентов</h4>
  <div>Дата обновления последней записи в таблице poster_clients - <%= @last_update_date %></div>
  <%= form_tag(update_clients_bonus_path, method: 'post') do %>
    <p><%= submit_tag('Обновить', class: 'btn btn-primary') %></p>
  <% end %>
</div>