<%= render 'modal_product_in_cart' %>
<main class="page-content">
  <section class="section-md-top-20 position-r bg-images-5 bg-images-category">
    <div class="shell text-center text-md-left">
      <h3>Доставка</h3>
      <%= render 'layouts/cart_text' %>
      <div class="range">
        <% @categories.each_with_index do |category, index| %>
        <div class="cell-md-3 cell-xs-6 category">
          <div class="thumbnail">
            <%= deilvery_products_by_category_link_to category_image_tag(category.code), category.id %>
            <h5><%= deilvery_products_by_category_link_to category.name, category.id %></h5>
          </div>
        </div>
        <% if (index%3 == 2) %>
        <div class="cell-md-1 display-n"></div>
        <% end %>
        <% end %>
      </div>
    </div>
  </section>
</main>