<ul>
    <li><%= link_to 'Доставка', '/delivery' %></li>
    <li><%= link_to 'Сибирская', '/sibirskaya' %></li>
    <li><%= link_to 'Волочаевская', '/volochaevskaya' %></li>
    <li><%= link_to 'Фудтрак', '/foodtrack' %></li>
</ul>