  <footer class="page-foot section-80 section-lg-120">
    <div class="shell">
      <div class="range">
        <div class="cell-md-3 cell-sm-4 cell-md-push-2">
          <div class="contact-info text-center text-sm-left">
            <p>Москва,<br class="hidden visible-lg-block visible-md-block">ул. Волочаевская, д.38, стр.1</p>
          </div>
        </div>
        <div class="cell-md-3 cell-sm-4 text-center text-sm-left cell-md-push-3"><span class="material-icons-local_phone icon icon-xs"></span><span class="phone"><a href="callto:#" class="text-bold">(800) 123 1234</a></span></div>
        <div class="cell-md-2 cell-sm-4 cell-md-preffix-1 text-center text-sm-left cell-md-push-4">
          <ul class="list-inline">
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
            <li><a href="#" class="fa-linkedin"></a></li>
            <li><a href="#" class="fa-twitter"></a></li>
          </ul>
        </div>
        <div class="cell-md-3 text-center text-md-left cell-md-push-1">
          <div class="brand"><a href="index.html">MITRO FOOD</a></div>
          <p class="offset-top-10">&#169;<span id="copyright-year"></span>
          </p>
        </div>
      </div>
    </div>
  </footer>
<%= javascript_include_tag 'core.min' %>
<%= javascript_include_tag 'script' %>