<div class="rd-navbar-wrap">
  <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="150px" class="rd-navbar">
    <div class="rd-navbar-inner">
      <!-- RD Navbar Panel-->
      <div class="rd-navbar-panel">
        <!-- RD Navbar Toggle-->
        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
        <!-- RD Navbar Brand-->
        <div class="rd-navbar-brand"><a href="/" class="brand-name">MITRO FOOD<br><span class="brand-slogan">Лучший кофе</span></a></div>
      </div>
      <div class="rd-navbar-nav-wrap">
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
          <li><a href="/">главная</a></li>
          <li><a href='/products'>меню</a>
            <!-- RD Navbar Dropdown-->
            <ul class="rd-navbar-dropdown">
              <li><a href="/sibirskaya">Сибирская</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="#">кофе</a></li>
                  <li><a href="#">напитки</a></li>
                  <li><a href="#">еда</a></li>
                </ul>
              </li>
              <li><a href="/volochaevskaya">Волочаевская</a>
              </li>
              <li><a href="/foodtrack">Фудтрак</a></li>
            </ul>
          </li>
          <li><a href='/delivery'>доставка</a></li>
          <li><a href='#'>события</a></li>
          <% if user_signed_in? %>
            <li><a href='#'>ЛК меню</a>
              <ul class="rd-navbar-dropdown">
                <% if current_user.is_admin? %>
                  <li><%= link_to 'Админка', admin_path %></li>
                  <li><%= link_to 'Товары', products_index_adm_path %></li>
                <% end %>
                <li><%= link_to 'Бонусная карта', new_poster_client_path %></li>
                <li><%= link_to 'Выход', destroy_user_session_path, method: 'delete' %></li>
              </ul>
            </li>
          <% else %>
            <li><a href='/users/sign_in'>ЛК вход</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>